<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="./static/test.js"></script>
</head>


<body>
    

    <h1 style="text-align: center;">Exemple de l'utilisation de Flask</h1>


    <h2>Envoi de donnés </h2>
    <form id="sendData"> 
        <label for="nom">Entréer un nom :</label>
        <input id="txt" name="nom" type="text">
        <input type="button" onclick="save();" value="Envoyer">
        <p id="saveok"></p>
    </form>

    <br/>

    <h2>Récupérer des donnés</h2>
    <form id="getData">
        <input type="button" value="Récupérer" onclick="get()">
        <div id="data">

        </div>
    </form>
</body>

</html>